<div class="about-container">
  <h2>About Me</h2>
  <p>
    I'm <strong>Guttan Gouda</strong>, a passionate software developer with
    expertise in <span class="highlight">.NET</span> and
    <span class="highlight">Angular</span>.
  </p>

  <p>
    I enjoy building scalable applications, solving business problems, and
    exploring new technologies. I've worked on POS systems, hotel management
    solutions, and integrations with platforms like Swiggy and Zomato.
  </p>

  <div class="details">
    <div><strong>Email:</strong> {{ "guttangouda0@gmail.com" }}</div>
    <div><strong>PhoneNo:</strong> {{ "9902858769" }}</div>
    <div><strong>Location:</strong> India</div>
    <div><strong>Experience:</strong> 2+ years</div>
  </div>
  <a href="assets/Guttanna_Resume.pdf" download>
    <button class="download-btn">Download Resume</button>
  </a>
</div>
