<div class="home-container" >
  <section class="hero" data-aos="fade-up" @fadeInUp>
    <h2>Hi, I'm <span class="highlight">Guttan</span>,<br /><span class="title">.NET & Angular Developer</span></h2>
    <p>I specialize in building fast, responsive, and modern web applications.</p>

    <div class="hero-actions">
      <a href="assets/Guttanna_Resume.pdf" download>
        <button class="resume-btn">📄 Download Resume</button>
      </a>
      <a (click)="OnClickAbout()">
        <button class="contact-btn">📬 Contact Me</button>
      </a>
    </div>
  </section>

  <section class="projects" data-aos="fade-up" @staggerProjects>
    <h3>💻 Recent Development Projects</h3>
    <div class="cards">
      <div class="card" data-aos="zoom-in" data-aos-delay="100">
        <h4>.NET Solutions</h4>
        <p>Developed scalable applications and APIs using .NET and C#.</p>
      </div>
      <div class="card" data-aos="zoom-in" data-aos-delay="200">
        <h4>Angular Projects</h4>
        <p>Created SPA apps with dynamic UIs using Angular and TypeScript.</p>
      </div>
      <div class="card" data-aos="zoom-in" data-aos-delay="300">
        <h4>POS & Hotel Systems</h4>
        <p>Designed and deployed complete POS and hotel management solutions.</p>
      </div>
    </div>
  </section>
</div>
