<div class="home-container">
  <section class="hero">
    <h2>Hi, I'm Guttan,<br />a .NET and Angular Developer</h2>
    <p>Build responsive and dynamic web applications</p>
    <a href="assets/Guttanna_Resume.pdf" download>
    <button>Download Resume</button>
    </a>
  </section>

  <section class="projects">
    <h3>Recent development projects</h3>
    <div class="cards">
      <div class="card">
        <h4>.NET Solutions</h4>
        <p>Developed various applications and services using .NET framework.</p>
      </div>
      <div class="card">
        <h4>Angular Projects</h4>
        <p>Built responsive and dynamic web applications with Angular.</p>
      </div>
      <div class="card">
        <h4>POS and Hotel Management Systems</h4>
        <p>Designed and implemented POS and hotel management systems.</p>
      </div>
    </div>
  </section>
</div>
